*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar img{
  height: 40px;
}

#menu_azienda{
  display: none;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  right: 380px;
  width: 100px;
  height: 160px;
}
